.mainInfo {
  width: 100%;
  height: 90vh;
  background: no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;

  .left-box, .right-box {
    margin-top: 5px;
    height: 95%;
    border: solid 1px red;
    // 确保padding和border不会增加元素的总宽度
    box-sizing: border-box;
  }

  .left-box {
    width: 55%;
    float: left;
    border: solid 1px green;
  }

  .right-box {
    width: 45%;
    float: left;
    border: solid 1px orange;
  }

  .left-box-T, .right-box-T {
    height: 34%;
    //margin-bottom: 15px;
  }

  .left-box-M, .right-box-M {
    height: 25%;
    //margin-bottom: 15px;
  }

  .left-box-B, .right-box-B {
    height: 24%;
  }

  .inner-box {
    height: 100%;
    background: gray;
    padding: 10px;

    border: 3px solid blue;
    float: left;
  }

  .left-box-T-L, .left-box-M-L, .left-box-B-L,
  .right-box-T-L, .right-box-M-L, .right-box-B-L {
    width: 40px;
    height: 50px;
  }

  .left-box-T-R, .left-box-M-R, .left-box-B-R,
  .right-box-T-R, .right-box-M-R, .right-box-B-R {
    width: 40px;
    height: 50px;
  }
}